/* NAVBAR */
.barra {
    background-color: #C7FFED;
}

.barra .secciones{
    margin-left: 10%;
}

.barra .secciones li{
    font-size: 120%;
    color: black;
    padding: 15px;
}

img {
    width: 50%;
    height: 50%;
    margin-left: 20%;
}