/* NAVBAR */
.barra {
    background-color: #08244b;
}

.logo {
    margin-left: 5%;
}

.logo img {
    width: 250px;
    height: 75px;
}

.menu {
    margin: auto;
} 

.menu li {
    padding: 30px;
}

.menu li a{
    width: 100%;
    height: 100%;
    object-fit: contain;
    font-size: 17px;
    color: rgb(136, 136, 136);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}


@media only screen and (max-width: 1200px){
    .menu li a {
        font-size: 14px;
        color: rgb(136, 136, 136);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    .logo img {
        width: 210px;
        height: 65px;
    }
    
}

.navbar-toggler{
    color: aliceblue;
    background-color: white;
}

/* CARROUSEL */

.cajaCarousel {
    width: 50%;
    margin: 20px auto;
}

:root {
    --bs-navbar-color: white
}
