* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
  
  #menu{
    z-index: 10;
  }

  .d-flex {
    margin-right: 2%;
  }
  
  .logo {
    width: 300px;
  }
  .logo img {
    width: 100%;
  }
  
  nav {
    border-bottom: 1px inset black;
  }
  
  .letras a {
    font-size: 18px;
  }
  
  @media (max-width: 1200px) {
    .letras a {
      font-size: 14px;
    }
    .logo {
      width: 250px;
    }
  }
  @media (max-width: 760px) {
    .logo {
      width: 150px;
    }
    .logo img {
      width: 100%;
    }
  }
  :root .navbar-nav {
    --bs-nav-link-color: rgb(68, 173, 105);
  }

  .menu{
    display: flex;
    align-items: center;
  }

  .letras{
    margin: auto;
  }
  
  .letras li{
margin: 0 30px;
  }
  /* Banner */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #003840;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    color: whitesmoke;
    background-color: #02A676;
}

button:hover{
    background-color: #078f66;
}

.container{
    max-width: 1400px;
    margin: auto;
}


#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    color: rgb(245, 245, 245);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/img/inicio.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero button{
    font-size: 1.75em;
}

#impresion-3d{
    text-align: center;
    background-color: #015958;
    color: rgb(245, 245, 245);
    align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}

#servicios{
    background-color:#023535;
    text-align: center;
    color: #d8ffd8;
}


#servicios .container{
    padding: 100px 0px;
}

#servicios h2{
    margin-top: 0;
    font-size: 3.2em;
}

#servicios p{
    display: none;
}

#servicios .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/img/diseno3D.jpg);

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/img/impresion.jpg);
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/img/negocio.jpg);
}

#quienes-somos .container{
    text-align: center;
    padding: 150px 12px;
    background-color: #c7ffed;
}

#clientes{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #02A676;
    color: rgb(245, 245, 245);
    height: 20vh;
}

#clientes h2{
    font-size: 3em;
}

footer{
    background-color: #015958;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(200, 200, 200);
}

#footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width:720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #servicios .servicios{
        display: flex;
        justify-content: center;
    }

    #servicios p{
        display: block;
        margin-bottom: 30px;
    }

    #servicios h3{
        margin-top: 0;
    }

    #servicios .carta{
        padding: 15px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    #quienes-somos h2{
        font-size: 3em;
    }  
    
    #quienes-somos button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

/* CARROUSEL - CATALOGO */
.catalogo {
  background-color: #015958;
  height: 100%;
  text-align: center;
}

.catalogo h2{
  font-size: 3em;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 75px;
  color: #d8ffd8;
}

.carousel {
  position: relative;
  overflow: hidden;
  z-index: 0;
}


.carousel-track {
  display: flex;
  width: 100%;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}

.producto {
  flex: 0 0 auto;
  width: 200px;
  margin: 1rem;
  text-align: center;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.3s;
  z-index: 0;
}

.producto img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.producto:hover {
  transform: scale(1.05);
}

.verMas{
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  color: whitesmoke;
  background-color: #02A676;
  margin: 100px 0;
}
